<% if @issue && @issue.rm_time_statistics_aggregate.present? %>
  <table class="list issue-report rm_statuses_spent_time">
    <thead>
      <tr>
        <th><%= l(:field_status) %></th>
        <th><%= l(:label_total_spent_time) %></th>
      </tr>
    </thead>
    <tbody>
      <% @issue.rm_time_statistics_aggregate.each do |status| %>
        <tr>
          <td><%= status.status_name %></td>
          <td><%= hourize(status.avg_time * status.avg_count) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="nodata"><%= l(:label_no_data) %></div>
<% end %>
