<% if @issue && @issue.rm_time_statistics_aggregate.present? %>
  <table class="list issue-report rm_statuses_spent_time">
    <thead>
      <tr>
        <th><%= l(:field_status) %></th>
        <th><%= l(:label_total_spent_time) %></th>
      </tr>
    </thead>
    <tbody>
      <% @issue.rm_time_statistics_aggregate.each do |status| %>
        <% total_time = status.avg_time * status.avg_count %>
        <% if status.status_id.to_i == @issue.status_id  %>
          <% total_time = total_time + (Time.now.utc - @issue.rm_time_statistic_last.created_on.to_datetime.utc) %>
        <% end %>
        <tr>
          <td><%= status.status_name %></td>
          <td><%= hourize(total_time) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="nodata"><%= l(:label_no_data) %></div>
<% end %>
